* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-image: url(https://image2url.com/r2/default/images/1768928047212-6ae13947-bfd8-4104-a89c-36476173958c.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1300px, 100vw);
    min-height: 80%;
    position: relative;
}

.box {
    min-height: 80%;
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

img {
    width: 150px;
    position: relative;
    z-index: 1;
    margin-top: 15px;
}

.button {
    z-index: 1;
}

.button i {
    font-size: 15px;
    position: absolute;
}

.button select {
    background-color: transparent;
    color: white;
    border: 1px solid gray;
    border-radius: 3px;
    height: 3vh;
    width: 6vw;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
}

.button select option{
    background-color: gray;
    color: white;
}
.button button {
    background-color: rgb(209, 7, 7);
    color: white;
    height: 3vh;
    width: 4vw;
    border: 1px solid rgb(209, 7, 7);
    border-radius: 3px;
    cursor: pointer;
}

.button button:nth-child(2):hover {
    background-color: rgb(174, 10, 10);
}

.text {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.text1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
    bottom: 0;
    width: 60vw;
    overflow-y: auto;
}

.text2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    gap: 10px;
    margin-bottom: 17px;
}

.text2 h1 {
    font-size: 50px;
}

.inputs {
    line-height: 40px;
}

.inputs p {
    text-align: center;
}

.inputs input {
    width: 350px;
    height: 40px;
    color: white;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 3px;
    padding-left: 10px;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.inputs input::placeholder {
    color: gray;
}

.inputs button {
    background-color: rgb(209, 7, 7);
    color: white;
    width: 160px;
    height: 41.8px;
    border: 0px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    font-size: large;
}

.inputs button:hover {
    background-color: rgb(174, 10, 10);
}

.arrow i {
    font-size: 25px;
}

.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.inputs1 {
    display: flex;
    gap: 5px;
}

.input-container {
    display: flex;
    align-items: center;
}

label {
    position: absolute;
    color: #888;
    font-size: 10px;
    pointer-events: none;
    padding-left: 11px;
}

@keyframes input-label {
    from {
        transform: translateY(0);
        font-size: 15px;
    }

    to {
        transform: translateY(-30%);
        font-size: 12px;
        text-align: center;
    }
}

@keyframes label-down {
    from {
        transform: translateY(-30%);
        font-size: 12px;
    }

    to {
        transform: translateY(0);
        font-size: 15px;
    }
}

input:focus+label,
input:not(:placeholder-shown)+label {
    animation: input-label 0.3s ease-out forwards;
}


input:placeholder-shown:not(:focus)+label {
    animation: label-down 0.3s ease forwards;
}

input:focus {
    outline: 1px solid white;
    outline-offset: 1px;
}

/* @media screen and (min-width: 800px) and (max-width: 1300px) {
    nav {
        max-width: 90vw;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    img {
        width: 120px;
        margin-top: 10px;
    }

    .button button:first-child {
        width: 8vw;
        height: 4vh;
        font-size: 14px;
    }

    .button button:nth-child(2) {
        width: 6vw;
        height: 4vh;
        font-size: 14px;
    }

    .container {
        background-size: cover;
        background-position: center top;
        height: auto;
        min-height: 80vh;
    }

    .text1 {
        width: 90%;
        bottom: 5%;
        height: auto;
        padding: 0 5%;
    }

    .text2 {
        width: 90%;
        gap: 8px;
    }

    .text2 h1 {
        font-size: 36px;
    }

    .text2 p {
        font-size: 16px;
    }

    .inputs p {
        font-size: 14px;
    }

    .inputs input {
        width: 280px;
        height: 38px;
        font-size: 12px;
    }

    .inputs button {
        width: 140px;
        height: 38px;
        font-size: 16px;
    }

    .inputs1 {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    label {
        font-size: 10px;
        padding-left: 8px;
    }
} */

@media screen and (max-width: 800px) {
    html, body {
        overflow-x: hidden;
    }

    .container {
        height: 80%;
    }

    .box {
        height: 100%;
    }

    input,
    textarea,
    select {
        font-size: 16px;
    }


    nav {
        max-width: 95vw;
        align-items: center;
        display: flex;
        justify-content: space-between;
        height: auto;
    }

    img {
        width: 120px;
        margin: 30px 0px 0px 20px;
    }

    .button button:nth-child(2) {
        width: 15vw;
        height: 25px;
        font-size: 10px;
        margin-top: 30px;
    }

    .button select{
        height: 25px;
        width: 20vw;
        font-size: 10px;
        margin-top: 30px;
    }

    .text1 {
        position: relative;
        width: 95%;
        bottom: auto;
        min-height: 80%;
        overflow-y: auto;
    }

    .text2 {
        margin-bottom: 20px;
        width: 90dvw;
    }

    .text2 h1 {
        font-size: 28px;
        display: flex;
    }

    .text2 p,
    .inputs p {
        font-size: 15px;
    }

    .inputs input {
        width: 220px;
        height: 35px;
        font-size: 16px;
    }

    .inputs p {
        line-height: normal;
        margin-bottom: 20px;
    }

    .inputsp1 {
        max-width: 75dvw;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button0 {
        display: flex;
        justify-content: center;
    }

    .inputs1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    .inputs1 button {
        width: 150px;
        height: 50px;
    }

    .input-container input {
        width: 250px;
        height: 50px;
        position: relative;
    }

    label {
        font-size: 10px;
        padding-left: 8px;
    }
}